<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="sl-page-title">SavorLocal</title>
    <link rel="icon" type="image/x-icon" href="../logo/sl-favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#E9E5D6"/>
    <link rel="apple-touch-icon" href="/logo/icon-192.png">
  </head>
  <body>
    <a href="#maincontent" class="sl-skip-link">Skip to content</a>
    <!-- Navbar -->
    <header>
      <div class="sl-header">
        <div class="sl-header__logo">
          <a href="/" style="height: fit-content;">
            <img src="../logo/logo-no-background.svg" alt="SavorLocal Logo" class="sl-header__logo-img">
          </a>
        </div>
        <div class="hamburger-container">
          <a id="hamburger" aria-label="Navigation Button" style="width: 44px;"><i id="hamburger-icon" class="fas fa-bars" style="color: #362706;"></i></a>
        </div>
        <div class="sl-header__nav">
          <nav id="drawer" class="sl-header__nav-list">
            <ul>
              <li class="sl-header__nav-list-item"><a href="#/home">Home</a></li>
              <li class="sl-header__nav-list-item"><a href="#/favorite">Favorite</a></li>
              <li class="sl-header__nav-list-item"><a href="https://linkedin.com/in/anthonio-adley">About Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="overlay" class="overlay"></div>
    <!-- main content -->
    <main id="maincontent">
      
    </main>
    <!-- footer -->
    <footer class="sl-footer">
      <div class="footer-container">
        <div class="footer-info">
          <img src="../logo/logo-no-background.svg" alt="SavorLocal Logo">
          <h2>SavorLocal</h2>
          <p>123 Foodie Avenue,
            Eclaire Heights, Culinara,
            Saffron Valley, RV 56789</p>
        </div>
        <div class="footer-contact">
          <h3>Contact Us</h3>
          <div class="footer-email">
            <i class="far fa-envelope"></i>
            <p>support@savorlocal.com</p>
          </div>
        </div>
        <div class="footer-social">
          <h3>Social Media</h3>
          <div class="social-media">
            <ul>
              <li><a href="#" aria-label="Link to SavorLocal Youtube"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#" aria-label="Link to SavorLocal LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#" aria-label="Link to SavorLocal Twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" aria-label="Link to SavorLocal Facebook"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#" aria-label="Link to SavorLocal Instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <p>Copyright &#169; 2023 SavorLocal, All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </body>
  <script>
    const updatePageTitle = (pageName)  => {
      document.title = pageName + " | SavorLocal";
    }
    updatePageTitle("Home");
  </script>  
</html>
